

`Extra Assignment-level-1-python

In [20]:
 #print Statement
#hOPE AI

print("hOPE AI")

hOPE AI

In [9]:
#Buy inputs
#Enter your institute name? : HOPE AI
#Enter your name: Raj

name = str(input("Enter your institute name? :  "))
name = str(input("#Enter your name: Raj  "))

Enter your institute name? :   HOPE AI
#Enter your name: Raj   Raj

In [11]:
# Buy input
#Enter your age: 15
#Enter your school name: Guru school
#Enter your drgree: B.E CSE

name = int(input("Enter your age  "))
name = str(input("Enter your school name:  "))
name = str(input("Enter your drgree:  "))

Enter your age   15
Enter your school name:   Guru school
Enter your drgree:   B.E CSE

In [12]:
#Addition
a= 43

b= 34
#add = 77
add= a+b

print(add)

77

In [13]:
#Subtraction
a= 43
b= 34
#Sub = 9
sub=a-b
print(sub)

9

In [14]:
#Multiplication
a= 63
b= 97
#Mul = 6111
mul=a*b
print(mul)

6111

In [16]:
#Division
a= 76
b= 31
#Float_Div = 2.4516129032258065
Float_Div=a/b
print(Float_Div)

2.4516129032258065

In [17]:
#Floor division
a= 76
b= 31
#Floor Div = 2
Floor_Div=a//b
print(Floor_Div)

2

In [18]:
#Modulo
a= 76
b= 31
#Modulo = 14

print(a%b)

14

In [19]:
#Power
a= 4
b= 4
#Power = 256
print(a**b)

256

Extra Assignment-2-Level-2-python

In [21]:
# print 0 to 20 by using range
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [22]:
#print range 10 to 20
for i in range(10,20):
    print(i,end=" ")

10 11 12 13 14 15 16 17 18 19

In [23]:
# Print number of items in the list by using 'len'

a = [10, 20, 14, 55, 43, 87, 76]

print("Number of item in the List2: ",len(a))

Number of item in the List2:  7

In [28]:
a="Artificial Intelligence"
print ("Artificial Intelligence")
for i in a:
    print(i)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [30]:
# Print yhis mixered datatype using Tuples
a=(1, 'Welcome', 2, 'Hope')

print(a)

(1, 'Welcome', 2, 'Hope')

In [31]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/
#Tuple1 = (0, 1, 2, 3)

a=((0, 1, 2, 3), ('python', 'HOPE'))
print(a)

((0, 1, 2, 3), ('python', 'HOPE'))

In [46]:
# print Odd Numbers in the list
odd_num=[20,10,16,19,25,1,276,188]
print(odd_num)
for i in odd_num:
    if i%2 != 0:
        print(i,"is odd")

[20, 10, 16, 19, 25, 1, 276, 188]
19 is odd
25 is odd
1 is odd

In [47]:
# print even Numbers in the list
even_num=[20,10,16,19,25,1,276,188]
print(even_num)
for i in even_num:
    if i%2 == 0:
        print(i,"is odd")

[20, 10, 16, 19, 25, 1, 276, 188]
20 is odd
10 is odd
16 is odd
276 is odd
188 is odd

Extra Assignment-Level-3-Python

In [52]:
# Check whether the given number is divisible by 5
#Enter a number to check:22
#No is not divisible by 5

a=int(input("Enter a number to check : "))

if a%5 == 0:
    print("its divisible by 5 : ", a)
else:
    print("No is not divisible by 5")

Enter a number to check :  22

No is not divisible by 5

In [55]:
# print 'CORRECT' if i == 10
#value: 10
#Corret

a=int(input("Enter a number to check : "))

if a== 10:
    print("value  : ", a)
    print("correct")
else:
    print("No is not crt")

Enter a number to check :  10

value  :  10
correct

In [56]:
 # Check the password, using if and else

#Enter the password: HOPE@123
#Your password is correct
a="HOPE@123"
b=str(input("Enter the password: "))

if a==b:
    print("Your password is correct")
else:
    print("Your password is incorrect")

Enter the password:  HOPE@123

Your password is correct

In [58]:
 # Catagory the people by their age like children, adult, citizen, senior citizen...
#age: 20
#Adult

a=int(input("Enter a your age: "))

if a<18:
    print("age: ",a)
    print("child")
elif a>=18 and a<35:
    print("age: ",a)
    print("adult")
elif a>=35 and a<55:
    print("age: ",a)
    print("citizen")
else:
    print("age: ",a)
    print("senior citizen")

Enter a your age:  20

age:  20
adult

In [59]:
# Find whether given number is positive or negative
a=int(input("Enter a your number: "))
#Enter any number:1
#No is positive
if a<0:
    print(a)
    print("its negative")
else:
    print(a)
    print("No is positive")

Enter a your number:  5

5
No is positive